.dataTables_filter{
  display: none;
}

#devotees_table, #members_table, #deceased_table, #search_table{
  width: 1320px!important;
}

.form-group{
  overflow: hidden;
}

.info-detail p{
  margin: 0 0 10px !important;
}

#festive-event-table input[type=checkbox] {
    zoom: 1.5!important;
}

.form-group label{
  padding: 6px 12px;
}

.separator{
  padding: 6px 12px !important;
}

#devotees_table_wrapper .col-sm-12, #members_table_wrapper .col-sm-12, #deceased_table_wrapper .col-sm-12,
#tab_relocation .relocation-devotee-table{
  overflow-x: scroll;
}

.mt-radio-list label{
  padding: 0px 23px!important;
  font-size: 13px;
}

.inbox-sidebar label{
  padding: 0;
}

#appendAddressBtn, #appendVehicleBtn, #appendSpecRemarkBtn{
  cursor: pointer;
}

#AddressBtn, #VehicleBtn, #SpecRemarkBtn{
  cursor: pointer;
}
