.dataTables_filter{
  display: none;
}

#devotees_table, #members_table, #deceased_table, #search_table{
  width: 100%!important;
}

.form-group{
  overflow: hidden;
}

.local-address{
  padding: 6px 12px 6px 22px!important;
}

.payment{
  padding-top: 4px;
}

.info-detail p{
  margin: 0 0 10px!important;
}

#festive-event-table input[type=checkbox] {
    zoom: 1.5!important;
}

.form-group label{
  padding: 6px 12px;
}

.separator{
  padding: 6px 12px !important;
}

#devotees_table_wrapper .col-sm-12, #members_table_wrapper .col-sm-12, #deceased_table_wrapper .col-sm-12,
#tab_relocation .relocation-devotee-table{
  overflow-x: scroll;
}

.mt-radio-list label{
  padding: 0px 23px!important;
  font-size: 13px;
}

.inbox-sidebar label{
  padding: 0;
}

#appendAddressBtn, #appendVehicleBtn, #appendSpecRemarkBtn{
  cursor: pointer;
}

#AddressBtn, #VehicleBtn, #SpecRemarkBtn{
  cursor: pointer;
}

.removeAddressBtn1, .removeVehicleBtn1, .removeSpecRemarkBtn1{
  cursor: pointer;
}

.removeAddressBtn, .removeVehicleBtn, .removeSpecRemarkBtn{
  cursor: pointer;
}

.removeDevotee{
  cursor: pointer;
}

.removeEventRow{
  cursor: pointer;
}

.no-height, .same{
  height: auto!important;
}

.hover{
  background: #ddd;
}

.highlight{
  text-decoration: underline;
}
