.dataTables_filter{
  display: none;
}

#devotees_table, #members_table, #deceased_table, #search_table{
  width: 1320px!important;
}

.form-group{
  overflow: hidden;
}

.info-detail p{
  margin: 0 0 10px !important;
}

#festive-event-table input[type=checkbox] {
    zoom: 1.5!important;
}
