body{
  font-size: 10px;
}

header{
  height: 20mm;
}

article{
  overflow: hidden;
}

#leftcontent{
  width: 113mm;
  margin-right: 1mm;
  float: left;
}

#rightcontent{
  width: 72mm;
  float: right;
}

.receipt-info{
  overflow: hidden;
}

.receipt-list{
  margin-top: 3.2mm;
  overflow: hidden;
  max-height: 228px;
  height: 228px;
}

hr{
  width: 97%;
}

.label-wrapper{
	width: 65mm;
	margin: 0.1cm 0;
	overflow: hidden;
  float: left;
}

.label-wrapper2{
	width: 48mm;
	margin: 0.1cm 0;
	overflow: hidden;
  float: left;
}

.right-wrapper{
	width: 60mm;
	margin: 0.1cm 0;
	overflow: hidden;
  float: left;
}

.label-rightwrapper{
	width: 100%;
	margin: 0.3cm 0;
	overflow: hidden;
}

.label{
	width: 11cm;
}

.label-left{
	width: 25mm;
	float: left;
}

.label-right{
	width: 31mm;
	float: left;
}

.label-right2{
	width: 23mm;
	float: left;
}

.rightlabel-left{
	width: 45mm;
	float: left;
}

.rightlabel-right{
	width: 27mm;
	float: left;
  text-align: right;
}

table.receipt-table {
	width: 100%;
	font-family: verdana,arial,sans-serif;
	font-size: 9px;
	color: #333;
	/*border-width: 1px;
	border-color: #666;
	border-collapse: collapse;*/
}
table.receipt-table th {
	border-width: 1px;
	padding: 1px;
	/*border-style: solid;
	border-color: #666;
	background-color: #dedede;*/
}
table.receipt-table td {
	border-width: 1px;
	padding: 1px;
  text-align: center;
	/*border-style: solid;
	border-color: #666;
	background-color: #fff;*/
}

footer{

}
