header{

}

article{
  overflow: hidden;
}

#leftcontent{
  width: 120mm;
  float: left;
}

#rightcontent{
  width: 68mm;
  float: left;
}

table.receipt-table {
	width: 100%;
	font-family: verdana,arial,sans-serif;
	font-size: 11px;
	color: #333;
	border-width: 1px;
	border-color: #666;
	border-collapse: collapse;
}
table.receipt-table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666;
	background-color: #dedede;
}
table.receipt-table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666;
	background-color: #fff;
}

footer{

}
